.project-title.duedate {
    margin: 0 auto;
    text-align: center;
}

.project-title a {
    cursor: default;
}

.project-completion .score{
    display: inline-block;
    width: 60px;
    white-space: nowrap;
}

.hurry {
    color: red;
}

.hurry a {
    color: red;
}

.faq-answerer {
    font-size: 18px;
    font-weight: 600;
    
    display: block;
}

