.project-title.duedate {
    margin: 0 auto;
    text-align: center;
}

.project-title a {
    cursor: default;
}

.project-completion .score{
    display: inline-block;
    width: 60px;
    white-space: nowrap;
}

.hurry {
    color: red;
}

.hurry a {
    color: red;
}

.faq-answerer {
    font-size: 18px;
    font-weight: 600;
    
    display: block;
}

.login-header{
    -webkit-animation: bounceInUp 1s;
}

.login-content{
    -webkit-animation: bounceInUp 1s;
    -webkit-animation-delay: .1s;
}

.login-form{
    -webkit-animation: bounceInUp 1s;
    -webkit-animation-delay: .2s;
}

.code-result{
    background-color: #202020;
    height: 100%;
    color:white;
    padding:10px;
}

.code-question h1,
.code-question h2,
.code-question h3,
.code-question h4{
    color:#179d82;
}

.code-question h1,
.code-question h2,
.code-question h3,
.code-question h4,
.code-question span{
    font-weight: 100;
    font-family: inherit;
}

.code-question-name{
    padding-bottom:15px;
}

.sub-comment{
    display:none;
}

.edit-comment-form{
    display:none;
}

.edit-subcomment-form{
    display:none;
}